<!DOCTYPE html>

<html>
<head>
    <title>login</title>
</head>
<body>
<div>
    <div>登录系统</div>
    <form action="login" method="post">
        <table>
            <tr>
                <td>用户名：</td>
                <td><input type="text" name="username"></input></td>
            </tr>

            <tr>
                <td>密码：</td>
                <td><input type="password" name="password"></input></td>
            </tr>
            <tr>
                <td>验证码</td>
                <td><input type="text" name="VerifyCode" id="VerifyCode"/>
                </td>
            </tr>
            <tr>
                <td>
                <td>
                    <img id="img" src="/image">
                </td>
                </td>
            </tr>
        </table>
        <input type="submit" name="提交">
    </form>
</div>
</body>

</html>